@tailwind base;
@tailwind components;
@tailwind utilities;

/* .dropdown:hover .category-list {
  display: block;
}

.dropbtn:hover + .category-list {
  display: block;
}

.bike:hover + .bike-list {
  display: block;
}

.hide {
  display: none;
}

.myDIV:hover + .hide {
  display: block;
  color: red;
}


.dropdown:hover .car-list {
  display: block;
}

.bike:hover .bike-list {
  display: block;
}

.dropdown:hover .hyundai-model {
  display: block;
} */

/* .toggle {
  display: block;
} */

/* 
.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
}
.nav-items > ul > li {
  padding: 10px;
}

.card {
  width: 200px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

.card > img {
  width: 100%;
}
.basket-list {
  display: flex;
  flex-wrap: wrap;
} */
