@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown:hover .dropdown-content1 {
  display: block;
}

.dropdown:hover .dropdown-content2 {
  display: block;
}

.dropdown:hover .dropdown-content3 {
  display: block;
}

/* .toggle {
  display: block;
} */

/* 
.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
}
.nav-items > ul > li {
  padding: 10px;
}

.card {
  width: 200px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

.card > img {
  width: 100%;
}
.basket-list {
  display: flex;
  flex-wrap: wrap;
} */
