@tailwind base;
@tailwind components;
@tailwind utilities;

.blur {
  position: absolute;
  margin-left: -300px;
  margin-right: 400px;
  padding: 0px;
  width: 100vw;
  height: 200vh;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
}

/* .firstchildren-list {
  display: none;
} */
/* 
.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
}
.nav-items > ul > li {
  padding: 10px;
}

.card {
  width: 200px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

.card > img {
  width: 100%;
}
.basket-list {
  display: flex;
  flex-wrap: wrap;
} */
